body {
    padding-top: 25px;
}

.card {
    width: 18rem;
}

.card:hover {
    background-color: beige;
    cursor: pointer;
}

img {
    margin-bottom: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.header {
    display: flex;
    width: 100%;
    align-items: flex-end;
}

label {
    padding-right: 10px;
    margin-right: 20px;
}

.form-select {
    width: 130px;
    margin-left: 25px;
    height: 39px;

}

.btn.btn-primary {
    margin-left: 25px;
}