.card {
    width: 18rem;
}

.card:hover {
    background-color: beige;
    cursor: pointer;
}

img {
    margin-bottom: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.header {
    display: flex;
    width: 100%;
    align-items: flex-end;
}

label {
    padding-right: 10px;
    margin-right: 20px;
    margin-top: 25px;
}

.form-select {
    width: 130px;
    margin-left: 25px;
    height: 39px;

}

.btn.btn-primary {
    margin-left: 25px;
}


.modal-background {
    position: absolute;
    height: 150%;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(3px);
    z-index: 999;
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    min-height: 300px;
    background-color: blanchedalmond;
    border-radius: 10px;
    z-index: 1000;
    border: 15px solid rgba(231, 231, 231, 0.5);
    padding: 20px;
}